@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first: #0E2954;
  --second: #1F6E8C;
  --third: #2E8A99;
  --fourth: #84A7A1;
  
                   
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all;
  transition-duration: 300ms;
  transition: ease-in;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
